<!DOCTYPE html>
<html>
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />	
	<link rel="stylesheet" type="text/css" href="/style.css" />
	<link rel="shortcut icon" type="image/x-icon" href="/img/penguin.png" />
	<title>{{.Options.Name}}</title>
  </head>
  <body>
	<div>
	    <img src="/img/penguin.png" class="left"/>
		<h1 class="left mainheader">PenguinCast</h1>
	</div><div class="clear"></div>
		<div>
			{{range .Options.Mounts}}
			<table class="greyGridTable">
				<tr>
					<th><h3>{{.Name}}</h3></th>
					<th></th>
				</tr>
				<tr>
					<td>Status:</td>
					<td>{{if .State.Started}}Online{{else}}Offline{{end}}</td>
				</tr>
				<tr>
					<td>Started:</td>
					<td>{{if .State.Started}}{{.State.StartedTime.Format "Jan 02, 2006 15:04:05"}}{{end}}</td>
				</tr>				
				<tr>
					<td>Stream Description:</td>
					<td>{{.Description}}</td>
				</tr>
				<tr>
					<td>Genre:</td>
					<td>{{.Genre}}</td>
				</tr>				
				<tr>
					<td>Content Type:</td>
					<td>{{.ContentType}}</td>
				</tr>
				<tr>
					<td>Bitrate:</td>
					<td>{{.BitRate}}</td>
				</tr>
				<tr>
					<td>Listeners (current):</td>
					<td>{{.State.Listeners}}</td>
				</tr>
				<tr>
					<td>Stream URL:</td>
					<td><a href="{{.StreamURL}}" target="_blank">{{.StreamURL}}</a></td>
				</tr>
				<tr>
					<td>Currently playing:</td>
					<td>{{.State.MetaInfo.StreamTitle}}</td>
				</tr>
			</table>
			{{end}}
		</div>
	<div id="footer">
		{{ if .Options.Logging.UseMonitor }}
		<a href="/monitor.html" target="_blank">Monitor</a><br/>
		{{ end }}
		Started at {{.StartedTime.Format "Jan 02, 2006 15:04:05"}}<br/>
		admin: <a href="mailto:{{.Options.Admin}}">{{.Options.Admin}}</a>, location: {{.Options.Location}}<br/>
	</div>
	</body>
</html>
